<template>
  <div class="row middle-xs">
    <div class="col-xs"></div>
    <div class="col-xs-12
                col-sm-8
                col-md-6">
      <article>
        <h1>An error has occured</h1>
        <code>{{ JSON.stringify(kratos.error?.error) }}</code>
      </article>
    </div>
    <div class="col-xs"></div>
  </div>
</template>

<script lang="ts" setup>
import {useKratosStore} from "@/stores/kratos";
import {onMounted} from "vue";
import router from "@/router";
import ory from "@/ory/sdk";
import {AxiosError} from "axios";

const kratos = useKratosStore();

onMounted(() => {
  const {id} = router.currentRoute.value.query

  ory.getSelfServiceError(id as string).then(({data}) => {
    kratos.error = data;
  }).catch((err: AxiosError) => {
    switch (err.response?.status) {
      case 404:
        // The error id could not be found. Let's just redirect home!
      case 403:
        // The error id could not be fetched due to e.g. a CSRF issue. Let's just redirect home!
      case 410:
        // The error id expired. Let's just redirect home!
        return router.push('/')
    }
  })
})
</script>

<style lang="scss" scoped>

</style>
