<template>
  <AuthenticatedRoute>
    <TopBanner :identity="kratos.session?.identity"></TopBanner>
    <div class="row">
      <div class="col-xs-12 col-sm">
        This is where links to services go
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        This is where account data goes.
      </div>
    </div>
  </AuthenticatedRoute>
</template>

<script lang="ts" setup>
import AuthenticatedRoute from "@/components/AuthenticatedRoute.vue";
import TopBanner from "@/components/TopBanner.vue";
import {useKratosStore} from "@/stores/kratos";

const kratos = useKratosStore();
</script>

<style lang="scss" scoped>

</style>
