<template>
  <CenterCard>
    <h1>{{ kratos.loginFlow?.ui.nodes.at(-1)?.meta.label?.text ?? "Login" }}</h1>
    <template v-if="methods().length < 2">
      <Flow :flow="kratos.loginFlow" :onSubmit="kratos.submitLogin"/>
    </template>
    <template v-else-if="state.method">
      <button
          class="auth-method"
          @click="state.method = null"
      >{{ $t('back') }}
      </button>
      <Flow :flow="kratos.loginFlow" :onSubmit="kratos.submitLogin" :only="state.method"/>
    </template>
    <template v-for="method in methods()" v-else>
      <button
          :value="method"
          class="auth-method"
          @click="(e) => {state.method = e.target.value}"
      >
        {{ $t(`auth_methods.${method}`) }}
      </button>
    </template>
    <hr/>
    <router-link class="button" to="/registration">Sign up</router-link>
    <footer>
      <span>Random background image provided by <a href="https://unsplash.com">Unsplash</a></span>
    </footer>
  </CenterCard>
</template>

<script lang="ts" setup>
import ory from '@/ory/sdk'
import {reactive, watchEffect} from "vue";
import router from "@/router";
import {useKratosStore} from "@/stores/kratos";
import Flow from "@/components/Kratos/Flow.vue";
import {handleFlowError} from "@/ory/errors";
import CenterCard from "@/components/CenterCard.vue";
import {UiNodeGroupEnum} from "@ory/kratos-client";

interface LoginQuery {
  return_to?: string
  flow?: string
  refresh?: boolean
  aal?: string
}

const kratos = useKratosStore();

type State = {
  method: UiNodeGroupEnum | null,
}

let state = reactive<State>({
  method: null
})

function methods() {
  if (kratos.loginFlow) {
    return kratos.loginFlow!.ui.nodes
        .filter((n) => {
          return n.group !== UiNodeGroupEnum.Default;
        })
        .map((n) => {
          return n.group;
        })
        .filter((g, i, gs) => {
          return gs.indexOf(g) === i;
        })
  } else {
    return []
  }
}

watchEffect(() => {
  const {
    return_to: returnTo,
    flow: flowId,
    refresh,
    aal
  }: LoginQuery = router.currentRoute.value.query
  if (flowId) {
    ory.kratos.getLoginFlow({id: flowId})
        .then(({data}) => {
          kratos.setLoginFlow(data)
        })
        .catch(handleFlowError(router, 'login', () => {
          kratos.loginFlow = null
        }))
  } else {
    ory.kratos.createBrowserLoginFlow({refresh, aal, returnTo})
        .then(({data}) => {
          kratos.loginFlow = data;
        })
        .catch(handleFlowError(router, 'login', () => {
          kratos.$reset()
        }))
  }
})
</script>

<style lang="scss" scoped>
footer {
  text-align: center;
  border-top: none;
  padding: calc(var(--block-spacing-vertical) * 0.33) var(--block-spacing-horizontal);
}
</style>
