<template>
  <CenterCard>
    <h1>{{ kratos.registrationFlow?.ui.nodes.at(-1)?.meta.label?.text ?? "Sign-up" }}</h1>
    <Flow :flow="kratos.registrationFlow" :onSubmit="kratos.submitRegistration"/>
    <hr/>
    <router-link class="button" to="/login">Sign in</router-link>
    <footer>
      <span>Random background image provided by <a href="https://unsplash.com">Unsplash</a></span>
    </footer>
  </CenterCard>
</template>

<script lang="ts" setup>
import ory from '@/ory/sdk'
import {watchEffect} from "vue";
import router from "@/router";
import {useKratosStore} from "@/stores/kratos";
import Flow from "@/components/Kratos/Flow.vue";
import {handleFlowError} from "@/ory/errors";
import CenterCard from "@/components/CenterCard.vue";

interface RegistrationQuery {
  return_to?: string
  flow?: string
}

const kratos = useKratosStore();

watchEffect(() => {
  const {
    return_to: returnTo,
    flow: flowId,
  }: RegistrationQuery = router.currentRoute.value.query
  if (flowId) {
    ory
        .getSelfServiceRegistrationFlow(flowId)
        .then(({data}) => {
          kratos.registrationFlow = data
        })
        .catch(handleFlowError(router, 'registration', () => {
          kratos.registrationFlow = null
        }))
  } else {
    ory
        .initializeSelfServiceRegistrationFlowForBrowsers(
            returnTo,
        )
        .then(({data}) => {
          kratos.registrationFlow = data
        })
        .catch(handleFlowError(router, 'registration', () => {
          kratos.registrationFlow = null
        }))
  }
})
</script>

<style lang="scss" scoped>
footer {
  text-align: center;
  border-top: none;
  padding: calc(var(--block-spacing-vertical) * 0.33) var(--block-spacing-horizontal);
}
</style>
