<template>
  <div>
    <label :for="name">{{ title }}</label>
    <input
        :id="id"
        type="checkbox"
        v-bind="this.props"
    >
    <slot/>
  </div>
</template>

<script lang="ts" setup>
import {v4 as uuid} from "uuid"

const props = defineProps<{
  onClick?: any
  onChange?: any
  disabled?: boolean
  required?: boolean
  help?: boolean
  state?: string
}>()

const id = uuid()
</script>

<style lang="scss" scoped>

</style>
