<template>
  <div>
    <label :for="name">{{ title }}</label>
    <input
        :id="name"
        :disabled="disabled"
        :name="name"
        :required="required"
        :type="type"
        :value="value"
    >
    <slot/>
  </div>
</template>

<script lang="ts" setup>
const props = defineProps<{
  title: string
  onClick?: any
  onChange?: any
  type: string
  name: string
  value: any
  disabled?: boolean
  required?: boolean
  help?: boolean
  state?: string
}>()
</script>

<style lang="scss" scoped>

</style>
