<template>
  <slot/>
</template>

<script lang="ts" setup>
import {onMounted} from "vue";
import {useKratosStore} from "@/stores/kratos";
import ory from "@/ory/sdk";
import {AxiosError} from "axios";
import router from "@/router";

const kratos = useKratosStore();

onMounted(() => {
  if (kratos.session === null) {
    ory.kratos.toSession()
        .then(({data}) => {
          kratos.session = data
        })
        .catch((err: AxiosError) => {
          switch (err.response?.status) {
            case 403:
              // This is a legacy error code thrown. See code 422 for
              // more details.
            case 422:
              // This status code is returned when we are trying to
              // validate a session which has not yet completed
              // it's second factor
              return router.push('/login?aal=aal2')
            case 401:
              // the user is not logged in, we require that to proceed
              return router.push('/login')
          }

          // Something else happened!
          return Promise.reject(err)
        })
  }
})
</script>

<style lang="scss" scoped>

</style>
