<template>
  <div class="row middle-xs">
    <div class="col-xs"></div>
    <div class="col-xs-12
                col-sm-10
                col-md-8
                col-lg-6">
      <article>
        <slot/>
      </article>
    </div>
    <div class="col-xs"></div>
  </div>
</template>

<script lang="ts" setup>

</script>

<style lang="scss" scoped>
.row.middle-xs {
  min-height: inherit;
}
</style>
