<template>
  <nav>
    <ul>
      <li>Smut Cloud</li>
    </ul>
    <ul>
      <li>{{ identity?.traits.username }}</li>
      <li>
        <LogoutButton/>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts" setup>
import {Identity} from "@ory/kratos-client";
import LogoutButton from "@/components/Kratos/LogoutButton.vue";

const props = defineProps<{
  identity?: Identity
}>()
</script>

<style lang="scss" scoped>
#top-banner {
  text-align: right;
}
</style>
