<template>
  <form
      v-if="props.flow"
      :action="props.flow?.ui.action"
      :class="state.isLoading ? 'loading' : ''"
      :method="props.flow?.ui.method"
      @submit="handleSubmit"
  >
    <template v-for="({ text, id, type }, k) in props.flow?.ui.messages"
              v-if="!props.hideGlobalMessages"
              :key="`${id}-${k}`"
              :data-testid="`ui/message/${id}`">
      <div :class="`message ${type}`">
        {{ text }}
      </div>
    </template>
    <template v-for="(node, k) in filterNodes()" :key="`${node.attributes.id}-${k}`">
      <Node
          :data-group="node.group"
          :disabled="state.isLoading ?? false"
          :node="node"
          :dispatch-submit="null"
          :set-value="(value) => {
            state.values[node.attributes.name] = value;
          }"
          :value="state.values[node.attributes.name]"
      />
    </template>
  </form>
  <div v-else aria-busy="true"></div>
</template>

<script generic="T extends Values" lang="ts" setup>
import {
  LoginFlow,
  RecoveryFlow,
  RegistrationFlow,
  SessionAuthenticationMethodMethodEnum,
  SettingsFlow,
  UiNode,
  UiNodeGroupEnum,
  UiNodeInputAttributes,
  UiNodeInputAttributesTypeEnum,
  UpdateLoginFlowBody,
  UpdateRecoveryFlowBody,
  UpdateRegistrationFlowBody,
  UpdateSettingsFlowBody,
  UpdateVerificationFlowBody,
  VerificationFlow
} from "@ory/kratos-client"
import {reactive, Ref, ref, watchEffect} from "vue";
import Node from "./Node.vue";
import {isUiNodeInputAttributes} from "@/components/Kratos/helpers";

export type Values = Partial<
    | UpdateLoginFlowBody
    | UpdateRegistrationFlowBody
    | UpdateRecoveryFlowBody
    | UpdateVerificationFlowBody
    | UpdateSettingsFlowBody
>


export type Props<T> = {
  // The flow
  flow?:
      | LoginFlow
      | RegistrationFlow
      | SettingsFlow
      | VerificationFlow
      | RecoveryFlow
  // Only show certain nodes. We will always render the default nodes for CSRF tokens.
  only?: SessionAuthenticationMethodMethodEnum
  // Is triggered on submission
  onSubmit: (values: T) => Promise<void>
  // Do not show the global messages. Useful when rendering them elsewhere.
  hideGlobalMessages?: boolean
}

const props = defineProps<Props<T>>()
const groupOrder = new Map<string, number>([
  ["default", -10],
  ["password", 10],
  ["oidc", 20],
])

function emptyState<T>(): T {
  return {
    traits: {}
  } as T;
}

type State<T> = {
  values: T
  isLoading: Ref<boolean>
}

let state = reactive<State<T>>({
  values: emptyState(),
  isLoading: ref(false)
})

function initializeValues(nodes: Array<UiNode> = []) {
  const values = emptyState<T>();
  nodes.forEach((node) => {
    // This only makes sense for text nodes
    if (isUiNodeInputAttributes(node)) {
      let attributes = <UiNodeInputAttributes>node.attributes
      if (
          attributes.type === UiNodeInputAttributesTypeEnum.Button ||
          attributes.type === UiNodeInputAttributesTypeEnum.Submit
      ) {
        // In order to mimic real HTML forms, we need to skip setting the value
        // for buttons as the button value will (in normal HTML forms) only trigger
        // if the user clicks it.
        return
      }
      values[attributes.name as keyof Values] = attributes.value
    }
  })

  // set all the values
  state.values = values;
}

function filterNodes(): Array<UiNode> {
  const {flow, only} = props
  if (!flow) {
    return []
  }
  return flow.ui.nodes.filter((node: UiNode) => {
    if (!only) {
      return true
    }
    return node.group === UiNodeGroupEnum.Default || node.group === only
  }).sort((a: UiNode, b: UiNode) => {
    if (a.group === b.group) {
      return 0
    }
    return (groupOrder.get(a.group) ?? 0) - (groupOrder.get(b.group) ?? 0);
  })
}

watchEffect(() => {
  const nodes = filterNodes();
  initializeValues(nodes);
})

function handleSubmit(e: SubmitEvent) {
  // Prevent all native handlers
  e.stopPropagation();
  e.preventDefault();

  // Prevent double submission!
  if (state.isLoading) {
    return Promise.resolve();
  }

  // update the method if it has changed
  const form = e.currentTarget;

  if (form && form instanceof HTMLFormElement) {
    const formData = new FormData(form);

    state.values = Object.fromEntries(formData) as T;
    state.values.method = (e.submitter as HTMLButtonElement).value;

    state.isLoading = true;

    return props.onSubmit(state.values).finally(() => {
      // We wait for reconciliation and update the state after 50ms
      // Done submitting - update loading status
      state.isLoading = false;
      // remove focus to make it clear its ready again
      e.submitter?.blur();
    })
  }
}
</script>

<style lang="scss" scoped>
div[aria-busy="true"] {
  padding: 1rem;
}
</style>
