<template>
  <button :onclick="logout" role="button">Logout</button>
</template>

<script lang="ts" setup>
import ory from "@/ory/sdk";
import {AxiosError} from "axios";
import {watchEffect} from "vue";
import {useKratosStore} from "@/stores/kratos";
import router from "@/router";

const kratos = useKratosStore()

watchEffect(() => {
  ory.kratos.createBrowserLogoutFlow()
      .then(({data}) => {
        kratos.logoutToken = data.logout_token
      })
      .catch((err: AxiosError) => {
        switch (err.response?.status) {
          case 401:
            // do nothing, the user is not logged in
            return
        }

        // Something else happened!
        return Promise.reject(err)
      })
})

function logout() {
  if (kratos.logoutToken) {
    ory.kratos.updateLogoutFlow({
      token: kratos.logoutToken
    })
        .finally(() => {
          router.push({name: "login", force: true})
          router.go(0);
        })
  }
}

</script>

<style lang="scss" scoped>

</style>
