<template>
  <NodeInputHidden v-if="attributes.type === UiNodeInputAttributesTypeEnum.Hidden" v-bind="props"/>
  <NodeInputCheckbox v-else-if="attributes.type === UiNodeInputAttributesTypeEnum.Checkbox" v-bind="props"/>
  <NodeInputButton
      v-else-if="attributes.type === UiNodeInputAttributesTypeEnum.Button || node.group === UiNodeGroupEnum.Oidc"
      v-bind="props"
  />
  <NodeInputSubmit v-else-if="attributes.type === UiNodeInputAttributesTypeEnum.Submit" v-bind="props"/>
  <NodeInputDefault v-else v-bind="props"/>
</template>

<script lang="ts" setup>
import {UiNode, UiNodeGroupEnum, UiNodeInputAttributes, UiNodeInputAttributesTypeEnum} from "@ory/kratos-client";
import {FormDispatcher, ValueSetter} from "./helpers";
import NodeInputDefault from "./NodeInputDefault.vue";
import NodeInputHidden from "./NodeInputHidden.vue";
import NodeInputCheckbox from "@/components/Kratos/NodeInputCheckbox.vue";
import NodeInputSubmit from "@/components/Kratos/NodeInputSubmit.vue";
import NodeInputButton from "@/components/Kratos/NodeInputButton.vue";

interface NodeInputProps {
  node: UiNode
  attributes: UiNodeInputAttributes
  value: any
  disabled: boolean
  dispatchSubmit: FormDispatcher
  setValue: ValueSetter
}

const props = defineProps<NodeInputProps>()
const {node, attributes, disabled} = props
</script>

<style lang="scss" scoped>

</style>
