<template>
  <Button
      :disabled="attributes.disabled || disabled"
      :name="attributes.name"
      :onClick="(e) => {
        onClick();
        setValue(attributes.value);
        dispatchSubmit(e);
      }"
      :value="attributes.value || ''"
      :type="attributes.name === 'webauthn_register_trigger' ? 'submit' : 'button'"
  >
    {{ node.meta.label.text }}
  </Button>
</template>

<script lang="ts" setup>
import {UiNode, UiNodeInputAttributes} from "@ory/kratos-client";
import {FormDispatcher, ValueSetter} from "./helpers";
import Button from "@/components/controls/Button.vue";
import {useKratosStore} from "@/stores/kratos";

interface NodeInputProps {
  node: UiNode
  attributes: UiNodeInputAttributes
  value: any
  disabled: boolean
  dispatchSubmit: FormDispatcher
  setValue: ValueSetter
}

const props = defineProps<NodeInputProps>()
const {node, attributes, value = '', setValue, disabled, dispatchSubmit} = props

const kratos = useKratosStore();

// Some attributes have dynamic JavaScript - this is for example required for WebAuthn.
function onClick() {
  // This section is only used for WebAuthn. The script is loaded via a <script> node
  // and the functions are available on the global window level. Unfortunately, there
  // is currently no better way than executing eval / function here at this moment.
  if (attributes.onclick) {


    if (attributes.onclick.startsWith("window.__oryWebAuthnRegistration")
        && attributes.onclick.indexOf("placeholder")) {
      let username = (document.getElementById("traits.username") as HTMLInputElement)?.value;
      if (username == null || username === "") {
        return;
      }
      // rewrite the function call to add username etc in the arguments.

      let args = attributes.onclick.replace("window.__oryWebAuthnRegistration(", "");
      args = args.substring(0, args.length - 1);
      let obj = JSON.parse(args);
      obj['publicKey']['user']['displayName'] = username;
      obj['publicKey']['user']['name'] = username;
      // @ts-ignore
      window.__oryWebAuthnRegistration(obj);
    } else {
      const run = new Function(attributes.onclick)
      run()
    }
  }
}

function onChange(e: any) {
  setValue(e.target.value)
}
</script>

<style lang="scss" scoped>

</style>
