<template>
  <img :alt="node.meta.label?.text"
       :data-testid="`node/image/${attributes.id}`"
       :src="attributes.src"
  />
</template>

<script lang="ts" setup>
import {UiNode, UiNodeImageAttributes} from "@ory/kratos-client";

const props = defineProps<{ node: UiNode, attributes: UiNodeImageAttributes }>()
</script>

<style lang="scss" scoped>

</style>
