<template>
  <a :data-testid="`node/anchor/${attributes.id}`"
     :href="attributes.href">
    {{ attributes.title.text }}
  </a>
</template>

<script lang="ts" setup>
import {UiNode, UiNodeAnchorAttributes} from "@ory/kratos-client";

const props = defineProps<{ node: UiNode, attributes: UiNodeAnchorAttributes }>()
</script>

<style lang="scss" scoped>

</style>
