<template>
  <input
      :name="attributes.name"
      :type="attributes.type"
      :value="attributes.value || 'true'"
  >
</template>

<script lang="ts" setup>
import {UiNode, UiNodeInputAttributes} from "@ory/kratos-client";
import {FormDispatcher, ValueSetter} from "./helpers";

interface NodeInputProps {
  node: UiNode
  attributes: UiNodeInputAttributes
  value: any
  disabled: boolean
  dispatchSubmit: FormDispatcher
  setValue: ValueSetter
}

const props = defineProps<NodeInputProps>()
const {node, attributes, value = '', setValue, disabled} = props

// Some attributes have dynamic JavaScript - this is for example required for WebAuthn.
function onClick() {
  // This section is only used for WebAuthn. The script is loaded via a <script> node
  // and the functions are available on the global window level. Unfortunately, there
  // is currently no better way than executing eval / function here at this moment.
  if (attributes.onclick) {
    const run = new Function(attributes.onclick)
    run()
  }
}

function onChange(e: any) {
  setValue(e.target.value)
}
</script>

<style lang="scss" scoped>

</style>
