<template>
  <TextInput
      :disabled="attributes.disabled || disabled"
      :help="node.messages.length > 0"
      :name="attributes.name"
      :onClick="onClick"
      :required="attributes.required"
      :state="node.messages.find(({type}) => type === 'error') ? 'error' : undefined"
      :title="node.meta.label?.text"
      :type="attributes.type"
      :value="attributes.value"
      @input="onChange">
    <label v-for="({ text, id, type }, k) in node.messages" :key="`${id}-${k}`" :class="`message ${type}`"
           :data-testid="`ui/message/${id}`" :for="attributes.name">
      {{ text }}
    </label>
  </TextInput>
</template>

<script lang="ts" setup>
import {UiNode, UiNodeInputAttributes} from "@ory/kratos-client";
import {FormDispatcher, ValueSetter} from "./helpers";
import TextInput from "@/components/controls/TextInput.vue"

interface NodeInputProps {
  node: UiNode
  attributes: UiNodeInputAttributes
  value: any
  disabled: boolean
  dispatchSubmit: FormDispatcher
  setValue: ValueSetter
}

const props = defineProps<NodeInputProps>()
const {node, attributes, value = '', setValue, disabled} = props

// Some attributes have dynamic JavaScript - this is for example required for WebAuthn.
function onClick() {
  // This section is only used for WebAuthn. The script is loaded via a <script> node
  // and the functions are available on the global window level. Unfortunately, there
  // is currently no better way than executing eval / function here at this moment.
  if (attributes.onclick) {
    const run = new Function(attributes.onclick)
    run()
  }
}

function onChange(e: any) {
  setValue(e.target.value)
}
</script>

<style lang="scss" scoped>

</style>
