<template>

</template>

<script lang="ts" setup>
import {UiNode, UiNodeScriptAttributes} from "@ory/kratos-client";
import {onMounted, onUnmounted} from "vue";

interface NodeScriptProps {
  node: UiNode
  attributes: UiNodeScriptAttributes
}

const props = defineProps<NodeScriptProps>()
const {node, attributes} = props

let scripts: HTMLScriptElement[] = [];

// Some attributes have dynamic JavaScript - this is for example required for WebAuthn.
onMounted(() => {
  const attr = attributes;
  const script = document.createElement("script");
  script.setAttribute("data-testid", `node/script/${script.id}`)
  script.src = attr.src
  script.type = attr.type
  script.async = attr.async
  script.referrerPolicy = attr.referrerpolicy
  script.crossOrigin = attr.crossorigin
  script.integrity = attr.integrity
  document.body.appendChild(script)
  scripts.push(script);
})

onUnmounted(() => {
  scripts.forEach((s) => {
    if (document.contains(s)) {
      document.removeChild(s);
    }
  })
  scripts = [];
})
</script>

<style lang="scss" scoped>

</style>
