<template>
  <NodeInput
      v-if="isUiNodeInputAttributes(node)"
      :attributes="node.attributes"
      :disabled="props.disabled"
      :dispatchSubmit="dispatchSubmit"
      :node="node"
      :setValue="setValue"
      :value="value"
  />
  <NodeScript
      v-if="node.attributes.node_type === UiNodeTypeEnum.Script"
      :attributes="node.attributes"
      :node="node"
  />
</template>

<script lang="ts" setup>
import {UiNode, UiNodeTypeEnum} from "@ory/kratos-client";
import {FormDispatcher, isUiNodeInputAttributes, ValueSetter} from "./helpers";
import NodeInput from "./NodeInput.vue";
import NodeScript from "@/components/Kratos/NodeScript.vue";
import Flow from "@/components/Kratos/Flow.vue";

const props = defineProps<{
  flow: Flow
  node: UiNode
  disabled: boolean
  value: any
  setValue: ValueSetter
  dispatchSubmit: FormDispatcher
}>()
</script>

<style lang="scss" scoped>

</style>
