<script lang="ts" setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import {onMounted} from "vue";

onMounted(() => {

})
</script>

<template>
  <div class="container">
    <router-view></router-view>
  </div>
</template>

<style lang="scss">
@import "./assets/styles/main";

#app {
  &, .container {
    min-height: inherit;
  }
}
</style>
