@import "theme";
@import "@picocss/pico/scss/pico";
@import "flexboxgrid/dist/flexboxgrid.css";

html, body {
  min-height: 100vh;
}

body {
  background-image: none;

  // style the login and registration pages by adding a background image
  &[data-route="login"], &[data-route="registration"] {
    background-image: url("https://source.unsplash.com/random/?night,abstract");
    background-size: cover;
  }
}

label, .message {
  &.message {
    font-size: smaller;
  }

  &.error {
    padding: 0.5rem;
    border: $red-800 1px solid;
    border-radius: 0.5rem;
    background: rgba($red-800, 0.2);
  }
}

form {
  .message {
    margin-bottom: 1rem;
  }
}

.button {
  @extend button
}

.align-right {
  text-align: right;
}

form {
  &.loading {
    [type=submit] {
      @extend [aria-busy=true]
    }
  }
}

.auth-method {
  text-transform: capitalize;
}
